body, html {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100%; /* Ensure full height */
  overflow: hidden; /* Prevent scrolling */
}

.signup-header {
  position: fixed; /* Keep it fixed at the top */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100%; /* Full width */
  height: 60px; /* Normal height */
  display: flex; /* Flexbox for alignment */
  justify-content: space-between; /* Space between items */
  align-items: center; /* Center items vertically */
  padding: 0 20px; /* Padding for aesthetics */
  background-color: white; /* Background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow */
  z-index: 10; /* Ensure it's above other content */
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); /* Full height minus header height */
  background-color: white;
}

.signup-card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create-account-btn {
  background-color: #ff6600;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Full width */
}

.create-account-btn:hover {
  background-color: #e65a00;
}

.or-text {
  color: #ff6600;
}

.active {
  background: #ff6600;
}

.google-auth {
  background-color: #f7f7f7;
  cursor: pointer;
}

.google-auth:hover {
  background-color: #e2e2e2;
}
