body, html {
  margin: 0;
  font-family: Arial, sans-serif;
}

.change-header {
  z-index: 10;
  background-color: white;
  padding: 10px 20px;
}

.change-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.change-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.change-card h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

h3 {
  font-weight: 100;
}

.change-btn {
  background-color: #ff6600;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.change-btn:hover {
  background-color: #e65a00;
}
